<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=gb2312">
<meta name=Generator content="Microsoft Word 11 (filtered)">
<title> </title>

<style>
<!--
 /* Font Definitions */
@* @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:宋体;
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:黑体;
	panose-1:2 1 6 9 6 1 1 1 1 1;}
@font-face
	{font-family:"\@宋体";
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:"\@黑体";
	panose-1:2 1 6 9 6 1 1 1 1 1;}*@
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman";}
h1
	{margin-right:0cm;
	margin-left:0cm;
	font-size:24.0pt;
	font-family:宋体;
	font-weight:bold;}
h3
	{margin-right:0cm;
	margin-left:0cm;
	font-size:13.5pt;
	font-family:宋体;
	font-weight:bold;}
h4
	{margin-top:14.0pt;
	margin-right:0cm;
	margin-bottom:14.5pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:156%;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:Arial;
	font-weight:bold;}
h5
	{margin-right:0cm;
	margin-left:0cm;
	font-size:10.0pt;
	font-family:宋体;
	font-weight:bold;}
p.MsoToc1, li.MsoToc1, div.MsoToc1
	{margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:0cm;
	font-size:14.0pt;
	font-family:宋体;
	text-transform:uppercase;
	font-weight:bold;}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:10.5pt;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:宋体;
	font-variant:small-caps;}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:21.0pt;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:宋体;}
p.MsoToc4, li.MsoToc4, div.MsoToc4
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:31.5pt;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Times New Roman";}
p.MsoToc5, li.MsoToc5, div.MsoToc5
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:42.0pt;
	margin-bottom:.0001pt;
	font-size:10.5pt;
	font-family:宋体;}
p.MsoToc6, li.MsoToc6, div.MsoToc6
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:52.5pt;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Times New Roman";}
p.MsoToc7, li.MsoToc7, div.MsoToc7
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:63.0pt;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Times New Roman";}
p.MsoToc8, li.MsoToc8, div.MsoToc8
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:73.5pt;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Times New Roman";}
p.MsoToc9, li.MsoToc9, div.MsoToc9
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:84.0pt;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Times New Roman";}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}
p.MsoDocumentMap, li.MsoDocumentMap, div.MsoDocumentMap
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	background:navy;
	font-size:10.5pt;
	font-family:"Times New Roman";}
p
	{margin-right:0cm;
	margin-left:0cm;
	font-size:12.0pt;
	font-family:宋体;}
 /* Page Definitions */
 @*@page Section1
	{size:595.3pt 841.9pt;
	margin:72.0pt 90.0pt 72.0pt 90.0pt;
	layout-grid:15.6pt;}*@
div.Section1
	{page:Section1;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>

</head>

<body lang=ZH-CN link=blue vlink=purple style='text-justify-trim:punctuation'>

<div class=Section1 style='layout-grid:15.6pt'>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=center style='text-align:center'><b><span
style='font-size:22.0pt;font-family:宋体;layout-grid-mode:line'>工务安全防控管理平台帮助</span></b></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>Ver1.0.0</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=center style='text-align:center'><b><span
style='font-size:12.0pt;font-family:宋体'>山西世恒铁路技术有限公司</span></b></p>

<p class=MsoNormal align=center style='text-align:center'><b><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></b></p>

<p class=MsoNormal align=center style='text-align:center'><b><span lang=EN-US style='font-size:12.0pt;font-family:宋体'>2015</span></b><b><span
 style='font-size:12.0pt;font-family:宋体'>年<span lang=EN-US>5</span>月<span
 lang=EN-US>4</span>日</span></b></p>

<p class=MsoNormal align=center style='text-align:center'><b><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></b></p>

<p class=MsoNormal align=left style='margin-left:252.0pt;text-align:left;
text-indent:21.0pt;text-autospace:none'><span lang=EN-US>&nbsp;</span></p>

<p class=MsoToc1><span
class=MsoHyperlink><span lang=EN-US style='font-weight:normal'><a
href="#_Toc419366467"><span lang=EN-US><span lang=EN-US>关于</span></span></a></span></span></p>

<p class=MsoToc1><span class=MsoHyperlink><span lang=EN-US style='font-weight:
normal'><a href="#_Toc419366468"><span lang=EN-US><span lang=EN-US>系统登录</span></span></a></span></span></p>

<p class=MsoToc1><span class=MsoHyperlink><span lang=EN-US style='font-weight:
normal'><a href="#_Toc419366469"><span lang=EN-US><span lang=EN-US>平台操作</span></span></a></span></span></p>

<p class=MsoToc2><span class=MsoHyperlink><span lang=EN-US style='font-variant:
normal !important;text-transform:uppercase'><a href="#_Toc419366470">1 <span
lang=EN-US><span lang=EN-US>主界面</span></span></a></span></span></p>

<p class=MsoToc2><span class=MsoHyperlink><span lang=EN-US style='font-variant:
normal !important;text-transform:uppercase'><a href="#_Toc419366471">2 <span
lang=EN-US><span lang=EN-US>平台业务模块切换及设置默认业务模块</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366472">2.1 <span lang=EN-US><span lang=EN-US>模块切换</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366473">2.2 <span lang=EN-US><span lang=EN-US>设置默认业务模块</span></span></a></span></span></p>

<p class=MsoToc2><span class=MsoHyperlink><span lang=EN-US style='font-variant:
normal !important;text-transform:uppercase'><a href="#_Toc419366474">3 <span
lang=EN-US><span lang=EN-US>浏览器推荐</span></span></a></span></span></p>

<p class=MsoToc1><span class=MsoHyperlink><span lang=EN-US style='font-weight:
normal'><a href="#_Toc419366475"><span lang=EN-US><span lang=EN-US>平台管理</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366476"><span lang=EN-US><span lang=EN-US>系统管理</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366477"><span lang=EN-US><span lang=EN-US>用户管理</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366478"><span lang=EN-US><span lang=EN-US>角色管理</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366479"><span lang=EN-US><span lang=EN-US>基础数据</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366480"><span lang=EN-US><span lang=EN-US>部门管理</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366481"><span lang=EN-US><span lang=EN-US>人员管理</span></span></a></span></span></p>

<p class=MsoToc1><span class=MsoHyperlink><span lang=EN-US style='font-weight:
normal'><a href="#_Toc419366482">GIS<span lang=EN-US><span lang=EN-US>监控</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366483"><span lang=EN-US><span lang=EN-US>人员定位</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366484"><span lang=EN-US><span lang=EN-US>组织机构</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366485"><span lang=EN-US><span lang=EN-US>地图监控区</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366486"><span lang=EN-US><span lang=EN-US>操作</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366487"><span lang=EN-US><span lang=EN-US>门禁管理</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366488"><span lang=EN-US><span lang=EN-US>组织机构</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366489"><span lang=EN-US><span lang=EN-US>地图监控区</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366490"><span lang=EN-US><span lang=EN-US>操作</span></span></a></span></span></p>

<p class=MsoToc1><span class=MsoHyperlink><span lang=EN-US style='font-weight:
normal'><a href="#_Toc419366491"><span lang=EN-US><span lang=EN-US>人员定位</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366492"><span lang=EN-US><span lang=EN-US>轨迹回放</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366493"><span lang=EN-US><span lang=EN-US>轨迹查询</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366494"><span lang=EN-US><span lang=EN-US>上传信息</span></span></a></span></span></p>

<p class=MsoToc1><span class=MsoHyperlink><span lang=EN-US style='font-weight:
normal'><a href="#_Toc419366495"><span lang=EN-US><span lang=EN-US>门禁管理</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366496"><span lang=EN-US><span lang=EN-US>基础<span lang=EN-US>数<span
lang=EN-US>据</span></span></span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366497"><span lang=EN-US><span lang=EN-US>门卡管理</span></span></a></span></span></p>

    
<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366498"><span lang=EN-US><span lang=EN-US>门禁查询</span></span></a></span></span></p>

    
<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366499"><span lang=EN-US><span lang=EN-US>驻站查询</span></span></a></span></span></p>


<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366500"><span lang=EN-US><span lang=EN-US>授权管理</span></span></a></span></span></p>


<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366501"><span lang=EN-US><span lang=EN-US>计划管理</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366502"><span lang=EN-US><span lang=EN-US>授权管理</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366503"><span lang=EN-US><span lang=EN-US>门禁管理</span></span></a></span></span></p>


<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366504"><span lang=EN-US><span lang=EN-US>门禁记录查询</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366505"><span lang=EN-US><span lang=EN-US>报警记录查询</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366506"><span lang=EN-US><span lang=EN-US>历史授权查询</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366507"><span lang=EN-US><span lang=EN-US>门禁状态查询</span></span></a></span></span></p>


<p class=MsoNormal align=center style='text-align:center;text-indent:32.15pt'><b><span
lang=EN-US style='font-size:22.0pt;font-family:宋体;color:black'>&nbsp;</span></b></p>

<p class=MsoNormal align=center style='text-align:center;text-indent:32.15pt'><b><span
lang=EN-US style='font-size:22.0pt;font-family:宋体;color:black'>&nbsp;</span></b></p>

<p class=MsoNormal align=center style='text-align:center;text-indent:32.15pt'><b><span
lang=EN-US style='font-size:22.0pt;font-family:宋体;color:black'>&nbsp;</span></b></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:22.0pt;font-family:
宋体;color:black'>&nbsp;</span></b></p>

<p class=MsoNormal align=center style='text-align:center;text-indent:32.15pt'><b><span
lang=EN-US style='font-size:22.0pt;font-family:宋体;color:black'>&nbsp;</span></b></p>

<p class=MsoNormal align=center style='text-align:center;text-indent:32.15pt'><b><span
lang=EN-US style='font-size:22.0pt;font-family:宋体;color:black'>&nbsp;</span></b></p>

<p class=MsoNormal align=center style='text-align:center'><b><span
style='font-size:22.0pt;font-family:宋体;color:black'>工务安全防控管理平台</span></b></p>

<p class=MsoNormal align=left style='text-align:left'><a name="_Toc419366467"></a><a
name="_Toc411753123"></a><a name="_Toc233168153"></a><a name="_Toc233082483"></a><a
name="_Toc233080957"></a><b><span style='font-size:15.0pt;font-family:宋体;
color:black'>关于</span></b></p>

<p class=MsoNormal align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-size:13.5pt;font-family:Wingdings;
color:black'>l</span><span lang=EN-US style='font-size:7.0pt;font-family:宋体;
color:black'>&nbsp;&nbsp;</span><span style='font-size:13.5pt;font-family:宋体;
color:black'>版本号：</span><span lang=EN-US style='font-size:13.5pt;color:black'>Ver1.0.0</span></p>

<p class=MsoNormal align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-size:13.5pt;font-family:Wingdings;
color:black'>l</span><span lang=EN-US style='font-size:7.0pt;font-family:宋体;
color:black'>&nbsp;&nbsp;</span><span style='font-size:13.5pt;font-family:宋体;
color:black'>支持浏览器：</span><span style='font-size:13.5pt;color:black'> <span
lang=EN-US>Firefox</span></span><span style='font-size:13.5pt;font-family:宋体;
color:black'>、</span><span lang=EN-US style='font-size:13.5pt;color:black'>chrome</span><span
style='font-size:13.5pt;font-family:宋体;color:black'>、</span><span lang=EN-US
style='font-size:13.5pt;color:black'>IE8</span><span style='font-size:13.5pt;
font-family:宋体;color:black'>及以上</span></p>

<p class=MsoNormal align=left style='margin-left:44.25pt;text-align:left;
text-indent:-23.25pt'><span lang=EN-US style='font-size:13.5pt;font-family:
Wingdings;color:black'>l<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:13.5pt;font-family:宋体;color:black'>版权所有：山西世恒铁路技术有限公司</span></p>

<p class=MsoNormal align=left style='text-align:left'><a name="_Toc419366468"><b><span
style='font-size:15.0pt;font-family:宋体'>系统登录</span></b></a></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:17.8pt'><span
lang=EN-US style='font-size:13.5pt;font-family:Wingdings;color:black'>l</span><span
lang=EN-US style='font-size:7.0pt;font-family:宋体;color:black'>&nbsp;&nbsp;&nbsp;
</span><span style='font-size:13.5pt;font-family:宋体;color:black'>验证系统用户信息及权限；</span></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:20.25pt'><span
lang=EN-US style='font-size:13.5pt;font-family:Wingdings;color:black'>l</span><span
lang=EN-US style='font-size:7.0pt;font-family:宋体;color:black'>&nbsp;</span><span
lang=EN-US style='font-size:7.0pt;font-family:宋体;color:black'>&nbsp;</span><span
style='font-size:13.5pt;font-family:宋体;color:black'>根据路局→工务段→车间→工区的组织层级，限定登录用户具有所在机构及下属机构及人员的权限范围；</span><b><span
style='font-size:18.0pt;color:black'> </span></b></p>

<p class=MsoNormal align=left style='margin-left:42.0pt;text-align:left;
text-indent:-21.0pt'><span lang=EN-US style='font-size:13.5pt;font-family:Wingdings;
color:black'>l</span><span lang=EN-US style='font-size:7.0pt;font-family:宋体;
color:black'>&nbsp;</span><span lang=EN-US style='font-size:7.0pt;font-family:
宋体;color:black'>&nbsp;</span><span style='font-size:13.5pt;font-family:宋体;
color:black'>修改已登录账户的密码；</span></p>

<p class=MsoNormal align=left style='margin-left:44.25pt;text-align:left;
text-indent:-23.25pt'><span lang=EN-US style='font-size:13.5pt;font-family:
Wingdings;color:black'>l<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:13.5pt;font-family:宋体;color:black'>安全退出本系统，跳转到登录界面；</span></p>

<p class=MsoNormal align=left style='text-align:left'><a name="_Toc419366469"><b><span
style='font-size:15.0pt;font-family:宋体;color:black'>平台操作</span></b></a></p>

<p class=MsoNormal align=left style='text-align:left'><a name="_Toc419366470"><span
lang=EN-US style='font-size:13.5pt;font-family:宋体;color:black'>1 </span></a><span
style='font-size:13.5pt;font-family:宋体;color:black'>主界面</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>输入网址：<span lang=EN-US><a
href="http://221.204.213.61:8003/" target="_blank" title=工务安全防控管理平台>http://221.204.213.61:8003/</a></span>，输入正确的账号，密码及验证码后点击登录，进入平台主界面。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>平台将自动展示出您设置的默认业务模块，若并未设置默认则打开【定位信息】业务模块。</span></p>

<p class=MsoNormal align=left style='text-align:left'><a name="_Toc419366471"><span
lang=EN-US style='font-size:13.5pt;font-family:宋体;color:black'>2 </span></a><span
style='font-size:13.5pt;font-family:宋体;color:black'>平台业务模块切换及设置默认业务模块</span></p>

<p><a name="_Toc419366472"><span lang=EN-US>2.1 </span>模块切换</a></p>

<p>鼠标移动到右侧操作栏【业务模块】【帮助】【修改密码】【安全退出】中的【业务模块】，展示此平台下所有业务模块，鼠标左击您要切换的业务模块，平台自动切换对应业务模块的所有业务菜单，以切换【门禁管理】为例<span
lang=EN-US>:</span></p>

<p style='margin-left:36.0pt;text-indent:-18.0pt'><span lang=EN-US
style='font-size:10.0pt;font-family:Symbol'>・<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>鼠标移动到业务模块，鼠标左击【业务模块】；</p>

<p style='margin-left:36.0pt;text-indent:-18.0pt'><span lang=EN-US
style='font-size:10.0pt;font-family:Symbol'>・<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>平台自动切换门禁管理<span lang=EN-US>LOGO,</span>帮助内容，除此之外业务菜单展示为【定位信息】，选择业务菜单后，进行对相关业务的浏览，编辑等操作；</p>

<p><a name="_Toc419366473"><span lang=EN-US>2.2 </span>设置默认业务模块</a></p>

<p>在【业务模块】中展示所有业务模块，点击模块名称前的单选框，系统提示<span lang=EN-US>“</span>默认系统设置成功<span
lang=EN-US>”</span>。</p>

<p class=MsoNormal align=left style='text-align:left'><a name="_Toc419366474"><span
lang=EN-US style='font-size:13.5pt;font-family:宋体;color:black'>3 </span></a><span
style='font-size:13.5pt;font-family:宋体;color:black'>浏览器推荐</span></p>

<p>为了更好的展示<span lang=EN-US>GIS</span>监控，以及更好的系统体验，推荐您使用火狐或谷歌浏览器，下载地址访问方式：</p>

<p>点击【安全退出】，回到登陆页面，点击【火狐浏览器】【谷歌浏览器】，安装浏览器再次登陆平台。</p>

<div style='border:none;border-bottom:solid #CCCCCC 1.5pt;padding:0cm 0cm 0cm 0cm'>

<h1 align=center style='margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;text-align:center;border:none;padding:0cm'><a
name="_Toc419366475"><span style='color:#C0504D'>平台管理</span></a></h1>

</div>

<p align=center style='text-align:center'><strong><span style='font-family:
宋体'>帮助</span></strong></p>

<p class=MsoToc1><span class=MsoHyperlink><span lang=EN-US style='font-weight:
normal'><a href="#_Toc419366475"><span lang=EN-US><span lang=EN-US>平台管理</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366476"><span lang=EN-US><span lang=EN-US>系统管理</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366477"><span lang=EN-US><span lang=EN-US>用户管理</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366478"><span lang=EN-US><span lang=EN-US>角色管理</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366479"><span lang=EN-US><span lang=EN-US>基础数据</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366480"><span lang=EN-US><span lang=EN-US>部门管理</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366481"><span lang=EN-US><span lang=EN-US>人员管理</span></span></a></span></span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<div style='border:none;border-bottom:solid #CCCCCC 1.5pt;padding:0cm 0cm 0cm 0cm'>

<h3 style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;border:none;padding:0cm'><a name="_Toc419366476">系统管理</a></h3>

</div>

<p>管理使用本系统相关信息；</p>

<h5 style='line-height:18.0pt'><a name="_Toc419366477">用户管理</a></h5>

<p style='text-indent:24.0pt'>管理使用本系统的用户账户、密码相关信息，可进行新增、编辑、删除、查询等操作；</p>

<h5 style='line-height:18.0pt'><a name="_Toc419366478">角色管理</a></h5>

<p style='text-indent:24.0pt'>管理使用本系统的角色，可进行新增、编辑、删除、查询等操作；</p>

<p style='text-indent:24.0pt'><span lang=EN-US>&nbsp;</span></p>

<div style='border:none;border-bottom:solid #CCCCCC 1.5pt;padding:0cm 0cm 0cm 0cm'>

<h3 style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;border:none;padding:0cm'><a name="_Toc419366479">基础数据</a></h3>

</div>

<p>管理业务相关基础数据；</p>

<h5><a name="_Toc419366480">部门管理</a></h5>

<p>管理局、段、车间、工区四级部门，新增、编辑、删除、查询等；</p>

<p>【删除】当部门无下属部门或人员时，才可删除；</p>

<p>【编辑】当部门无下属部门或人员时，才可变更部门的所属上级部门；</p>

<h5><a name="_Toc419366481">人员管理</a></h5>

<p>管理组织机构下的人员，新增、编辑、删除、查询等；</p>

<p>【是定位手机】：只有定位手机具有轨迹、图片信息上传等功能，非定位手机只作为联络方式；</p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<div style='border:none;border-bottom:solid #CCCCCC 1.5pt;padding:0cm 0cm 0cm 0cm'>

<h1 align=center style='margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;text-align:center;border:none;padding:0cm'><a
name="_Toc419366482"><span lang=EN-US style='color:#C0504D'>GIS</span><span
style='color:#C0504D'>监控</span></a></h1>

</div>

<p align=center style='text-align:center'><strong><span style='font-family:
宋体'>帮助</span></strong></p>

<p>可实时监控用户权限内子系统的所有地图相关信息；</p>

<p class=MsoToc1><span class=MsoHyperlink><span lang=EN-US style='font-weight:
normal'><a href="#_Toc419366482">GIS<span lang=EN-US><span lang=EN-US>监控</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366483"><span lang=EN-US><span lang=EN-US>人员定位</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366484"><span lang=EN-US><span lang=EN-US>组织机构</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366485"><span lang=EN-US><span lang=EN-US>地图监控区</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366486"><span lang=EN-US><span lang=EN-US>操作</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366487"><span lang=EN-US><span lang=EN-US>门禁管理</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366488"><span lang=EN-US><span lang=EN-US>组织机构</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366489"><span lang=EN-US><span lang=EN-US>地图监控区</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366490"><span lang=EN-US><span lang=EN-US>操作</span></span></a></span></span></p>

<p><span lang=EN-US>&nbsp;</span></p>

<div style='border:none;border-bottom:solid #CCCCCC 1.5pt;padding:0cm 0cm 0cm 0cm'>

<h3 style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;border:none;padding:0cm'><a name="_Toc419366483">人员定位</a></h3>

</div>

<h5><a name="_Toc419366484">组织机构</a></h5>

<p>左侧围组织机构树形列表区域。</p>

<p>在线人员图标为蓝色，不在线人员图标为灰色；</p>

<p>“（<span lang=EN-US>a/b</span>）”括号中“<span lang=EN-US>a</span>”代表该部门下属所有在线人员数，“<span
lang=EN-US>b</span>”代表该部门下属所有人员总数；</p>

<h5><a name="_Toc419366485">地图监控区</a></h5>

<p>右侧为地图监控区域。</p>

<p>上部菜单栏：可选择显示图层；</p>

<p>地图窗口的【地图】【卫星】【本地数据】分别为：二维度平面地图、三维地图、和只有系统数据显示；</p>

<h5><a name="_Toc419366486">操作</a></h5>

<p>双击在线人员，激活右侧地图上的人员位置图标；</p>

<p>右击任意人员节点，可显示该人员最近<span lang=EN-US>24</span>小时轨迹；</p>

<p>单击地图上位置图标显示该人员相关信息；</p>

<p><span lang=EN-US>&nbsp;</span></p>

<div style='border:none;border-bottom:solid #CCCCCC 1.5pt;padding:0cm 0cm 0cm 0cm'>

<h3 style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;border:none;padding:0cm'><a name="_Toc419366487">门禁管理</a></h3>

</div>

<h5><a name="_Toc419366488">组织机构</a></h5>

<p>左侧围组织机构门禁树形列表区域。</p>

<p>关闭（蓝）、授权（绿）、开门（黄）、异常开门（红）、故障（灰）；</p>

<p>门禁图标上方显示数字，代表由该门进入，且正在线上进行施工作业的人员数目；</p>

<p>点击门禁图标，显示门禁的细节信息（线名、行别、里程数），及进入作业的人员信息。</p>

<h5><a name="_Toc419366489">地图监控区</a></h5>

<p>右侧为地图监控区域。</p>

<p>上部菜单栏：可选择显示图层；</p>

<p>地图窗口的【地图】【卫星】【本地数据】分别为：二维度平面地图、三维地图、和只有系统数据显示；</p>

<h5><a name="_Toc419366490">操作</a></h5>

<p>双击在线门禁，激活右侧地图上的门禁位置图标；</p>

<p>单击地图上位置图标显示该门禁相关信息；</p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<div style='border:none;border-bottom:solid #CCCCCC 1.5pt;padding:0cm 0cm 0cm 0cm'>

<h1 align=center style='margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;text-align:center;border:none;padding:0cm'><a
name="_Toc419366491"><span style='color:#C0504D'>人员定位</span></a></h1>

</div>

<p align=center style='text-align:center'><strong><span style='font-family:
宋体'>帮助</span></strong></p>

<p>可实时查看人员定位历史轨迹及现场资料等相关信息；</p>

<p class=MsoToc1><span class=MsoHyperlink><span lang=EN-US style='font-weight:
normal'><a href="#_Toc419366491"><span lang=EN-US><span lang=EN-US>人员定位</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366492"><span lang=EN-US><span lang=EN-US>轨迹回放</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366493"><span lang=EN-US><span lang=EN-US>轨迹查询</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366494"><span lang=EN-US><span lang=EN-US>上传信息</span></span></a></span></span></p>

<p><span lang=EN-US>&nbsp;</span></p>

<div style='border:none;border-bottom:solid #CCCCCC 1.5pt;padding:0cm 0cm 0cm 0cm'>

<h3 style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;border:none;padding:0cm'><a name="_Toc419366492">轨迹回放</a></h3>

</div>

<p>轨迹回放：选定人员信息和时间段，单击【回放】，回放符合条件的轨迹。</p>

<p>轨迹清除：单击【清除轨迹】清除地图上回放的轨迹。</p>

<div style='border:none;border-bottom:solid #CCCCCC 1.5pt;padding:0cm 0cm 0cm 0cm'>

<h3 style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;border:none;padding:0cm'><a name="_Toc419366493">轨迹查询</a></h3>

</div>

<p>选定部门、人员、时间段组合条件，单击【查询】，显示符合条件的轨迹数据。</p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<div style='border:none;border-bottom:solid #CCCCCC 1.5pt;padding:0cm 0cm 0cm 0cm'>

<h3 style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:
0cm;border:none;padding:0cm'><a name="_Toc419366494">上传信息</a></h3>

</div>

<p>选定部门人员，类型，时间，单击【查询】，显示符合条件的上传资料。</p>

<p>点击数据行的缩略图，显示上传资料细节。</p>

<p><span lang=EN-US>&nbsp;</span></p>

<div style='border:none;border-bottom:solid #CCCCCC 1.5pt;padding:0cm 0cm 0cm 0cm'>

<p class=MsoNormal align=center style='margin-bottom:15.0pt;text-align:center;
border:none;padding:0cm'><a name="_Toc419366495"><b><span style='font-size:
24.0pt;font-family:宋体;color:#C0504D'>门禁管理</span></b></a></p>

</div>

<p class=MsoNormal align=center style='text-align:center'><b><span
style='font-size:12.0pt;font-family:宋体'>帮助</span></b></p>

<p class=MsoToc1><span class=MsoHyperlink><span lang=EN-US style='font-weight:
normal'><a href="#_Toc419366495"><span lang=EN-US><span lang=EN-US>门禁管理</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366496"><span lang=EN-US><span lang=EN-US>基础<span lang=EN-US>数<span
lang=EN-US>据</span></span></span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366497"><span lang=EN-US><span lang=EN-US>门卡管理</span></span></a></span></span></p>

    
<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366498"><span lang=EN-US><span lang=EN-US>门禁查询</span></span></a></span></span></p>

    
<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366499"><span lang=EN-US><span lang=EN-US>驻站查询</span></span></a></span></span></p>


<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366500"><span lang=EN-US><span lang=EN-US>授权管理</span></span></a></span></span></p>


<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366501"><span lang=EN-US><span lang=EN-US>计划管理</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366502"><span lang=EN-US><span lang=EN-US>授权管理</span></span></a></span></span></p>

<p class=MsoToc3><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366503"><span lang=EN-US><span lang=EN-US>门禁管理</span></span></a></span></span></p>


<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366504"><span lang=EN-US><span lang=EN-US>门禁记录查询</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366505"><span lang=EN-US><span lang=EN-US>报警记录查询</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366506"><span lang=EN-US><span lang=EN-US>历史授权查询</span></span></a></span></span></p>

<p class=MsoToc5><span class=MsoHyperlink><span lang=EN-US><a
href="#_Toc419366507"><span lang=EN-US><span lang=EN-US>门禁状态查询</span></span></a></span></span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=left style='text-align:left'><a name="_Toc419366496"><b><span
style='font-size:13.5pt;font-family:宋体;color:black'>基础数据</span></b></a></p>

<div class=MsoNormal align=center style='text-align:center'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>

<hr size=2 width="100%" align=center>

</span></div>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>点击【基础数据】 后，左侧导航将显示其对应的二级菜单，若以超级管理员角色登陆，菜单显示【门卡管理】【门禁查询】【驻站查询】：
</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>下面分别对【门卡管理】【门禁查询】【驻站查询】页面功能进行说明：</span></p>

<p class=MsoNormal align=left style='text-align:left'><a name="_Toc419366497"><b><span
style='font-size:12.0pt;font-family:宋体'>门卡管理</span></b></a></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>查询功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>支持下拉单选择<span lang=EN-US>&lt;</span>所属部门<span
lang=EN-US>&gt;+&lt;</span>持卡人<span lang=EN-US>&gt;+&lt;</span>状态<span
lang=EN-US>&gt;</span>，输入<span lang=EN-US>&lt;</span>编号<span lang=EN-US>&gt;</span>，任意组合查询条件，点击【查询】后，系统为您检索出在您的权限范围内，并且符合您选择（输入）的查询条件的门卡数据，页面下方显示当前页及当前页数据，数据和等数据信息，其中点击下方分页控件可进行翻页操作；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>点击【重置】后，清空查询取所选择（输入）的查询条件，显示所有在您的权限范围内的门卡数据；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>刷新功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>点击【刷新】后，系统为您检索出在您的权限范围内，并且符合当前查询条件的最新门卡数据；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>新增功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>点击【新增】后，系统弹出<span lang=EN-US>“</span>添加门卡<span
lang=EN-US>”</span>页面，输入<span lang=EN-US>&lt;</span>编号<span lang=EN-US>&gt;</span>，选择<span
lang=EN-US>&lt;</span>所属部门<span lang=EN-US>&gt;</span>，选择<span lang=EN-US>&lt;</span>持卡人<span
lang=EN-US>&gt;</span>，输入<span lang=EN-US>&lt;</span>备注<span lang=EN-US>&gt;</span>后（其中编号，所属部门为必填），点击【保存】，即可完成门卡新增操作；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>编辑功能<span lang=EN-US>:</span></span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>在数据展示区上选择您要编辑的门卡数据，鼠标左击，行背景色变为黄色后，点击【编辑】后，系统弹出<span
lang=EN-US>“</span>修改门卡<span lang=EN-US>”</span>页面，可对<span lang=EN-US>&lt;</span>所属部门<span
lang=EN-US>&gt;</span>，<span lang=EN-US>&lt;</span>持卡人<span lang=EN-US>&gt;</span>，<span
lang=EN-US>&lt;</span>备注<span lang=EN-US>&gt;</span>进行修改，点击【保存】，即可完成门卡修改操作；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>删除功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>选择您要删除的门卡数据，点击【删除】后，即可完成门卡删除操作，注：删除前需进行门卡解绑操作；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>解绑功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>选择您要解绑的门卡数据，点击【解绑】后，即可完成门卡解绑操作，也可以选择编辑，不选择<span
lang=EN-US>&lt;</span>持卡人<span lang=EN-US>&gt;</span>；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>废弃功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>选择您要废弃的门卡数据，点击【废弃】后，即可完成门卡废弃操作，注：废弃前需进行门卡解绑操作；</span></p>

<p class=MsoNormal align=left style='text-align:left'><a name="_Toc419366498"><b><span
style='font-size:12.0pt;font-family:宋体'>门禁查询</span></b></a></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>查询功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>支持下拉单选择<span lang=EN-US>&lt;</span>所属部门<span
lang=EN-US>&gt;+&lt;</span>线名<span lang=EN-US>&gt;+&lt;</span>驻站<span
lang=EN-US>&gt;</span>，输入<span lang=EN-US>&lt;</span>名称<span lang=EN-US>&gt;</span>，任意组合查询条件，点击【查询】后，系统为您检索出在您的权限范围内，并且符合您选择（输入）的查询条件的门禁数据，页面下方显示当前页及当前页数据，数据和等数据信息，其中点击下发分页控件可进行翻页操作；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>点击【重置】后，清空查询取所选择（输入）的查询条件，显示所有在您的权限范围内的门禁数据；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=left style='text-align:left'><a name="_Toc419366499"><b><span
style='font-size:12.0pt;font-family:宋体'>驻站查询</span></b></a></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>查询功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>支持输入<span lang=EN-US>&lt;</span>编号<span
lang=EN-US>&gt;</span>，点击【查询】后，系统为您检索出在您的权限范围内，并且符合您选择（输入）的查询条件的驻站数据，页面下方显示当前页及当前页数据，数据和等数据信息，其中点击下方分页控件可进行翻页操作；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>点击【重置】后，清空查询取所选择（输入）的查询条件，显示所有在您的权限范围内的驻站数据；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;</span></p>

<p class=MsoNormal align=left style='text-align:left'><a name="_Toc419366500"><b><span
style='font-size:13.5pt;font-family:宋体'>授权管理</span></b></a></p>

<div class=MsoNormal align=center style='text-align:center'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>

<hr size=2 width="100%" align=center>

</span></div>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>点击【授权管理】 后，左侧导航将显示其对应的二级菜单，若以超级管理员角色登陆，菜单显示【计划管理】【授权管理】：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>下面分别对【计划管理】【授权管理】页面功能进行说明：</span></p>

<p class=MsoNormal align=left style='text-align:left'><a name="_Toc419366501"><b><span
style='font-size:12.0pt;font-family:宋体'>计划管理</span></b></a></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>查询功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>支持下拉单选择<span lang=EN-US>&lt;</span>所属部门<span
lang=EN-US>&gt;+&lt;</span>计划类型<span lang=EN-US>&gt;+&lt;</span>状态<span
lang=EN-US>&gt;</span>，任意组合查询条件，点击【查询】后，系统为您检索出在您的权限范围内，并且符合您选择（输入）的查询条件的计划数据，页面下方显示当前页及当前页数据，数据和等数据信息，其中点击下方分页控件可进行翻页操作；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>点击【查询】后，清空查询取所选择（输入）的查询条件，显示所有在您的权限范围内的计划数据；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>刷新功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>点击【刷新】后，系统为您检索出在您的权限范围内，并且符合当前查询条件的最新计划数据；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>作废功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>在数据展示区上选择您要废弃的计划数据，鼠标左击，点击【作废】后，作废任何状态的计划数据；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>手动添加计划功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>点击【添加计划】后， 系统弹出<span lang=EN-US>“</span>添加计划<span
lang=EN-US>”</span>页面，选择<span lang=EN-US>&lt;</span>所属部门<span lang=EN-US>&gt;</span>，选择<span
lang=EN-US>&lt;</span>负责人<span lang=EN-US>&gt;</span>，选择<span lang=EN-US>&lt;</span>计划日期<span
lang=EN-US>&gt;</span>，选择<span lang=EN-US>&lt;</span>计划时间 段<span lang=EN-US>&gt;</span>，选择<span
lang=EN-US>&lt;</span>线名<span lang=EN-US>&gt;</span>，选择<span lang=EN-US>&lt;</span>行别<span
lang=EN-US>&gt;</span>，输入<span lang=EN-US>&lt;</span>计划里程<span lang=EN-US>&gt;</span>后（其中所有项为必填），点击【保存】，系统将为您自动计算出所选线名，行别，计划里程上，同一驻站管辖的所有门禁，对应在展示区<span
lang=EN-US>&lt;</span>门禁名称<span lang=EN-US>&gt;</span>项，若需要重新选择门禁，未下发前，可进行选择门禁操作（如下选择门禁操作），即可完成手动计划新增操作；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>编辑计划功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp;</span><span
style='font-size:12.0pt;font-family:宋体'>在数据展示区上选择您要编辑的且状态为未下发的计划数据，鼠标左击，点击【编辑计划】后，编辑计划数据。</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>删除计划功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>在数据展示区上选择您要删除的且状态为未下发的计划数据，鼠标左击，点击【删除计划】后，删除计划数据；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>选择门禁：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>在数据展示区上选择您要重新选择门禁的且状态为未下发的计划数据，鼠标左击，点击【选择门禁】后，弹出所有门禁数据，可以多选，但是所选门禁必须在同一驻站管辖下，点击保存后，完成计划重新选择门禁操作；</span></p>

<p class=MsoNormal align=left style='text-align:left'><a name="_Toc419366502"><b><span
style='font-size:12.0pt;font-family:宋体'>授权管理</span></b></a></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>授权流程：</span></p>
<table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;border:none'>
 <tr>
  <td width=189 valign=top style='width:142.0pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>操作序号</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>流程操作</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>操作角色</span></p>
  </td>
 </tr>
 <tr>
  <td width=189 valign=top style='width:142.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>1</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>导入计划，确定门号</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>调度员</span></p>
  </td>
 </tr>
 <tr>
  <td width=189 valign=top style='width:142.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>2</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>批量下发计划</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>调度员</span></p>
  </td>
 </tr>
 <tr>
  <td width=189 valign=top style='width:142.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>3</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left;line-height:12.0pt'><span
  style='font-size:12.0pt;font-family:宋体'>填写行车调度命令号，修正作业时间，批量上传</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>驻站员</span></p>
  </td>
 </tr>
 <tr>
  <td width=189 valign=top style='width:142.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>4</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>分配工务命令号</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>调度员</span></p>
  </td>
 </tr>
 <tr>
  <td width=189 valign=top style='width:142.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>5</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>批量下发计划</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>调度员</span></p>
  </td>
 </tr>
 <tr>
  <td width=189 valign=top style='width:142.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span
   lang=EN-US style='font-size:12.0pt;font-family:宋体'>6A</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>通知作业负责人，批量上传</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>驻站员</span></p>
  </td>
 </tr>
 <tr>
  <td width=189 valign=top style='width:142.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>6B</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>确认已与作业负责人核实</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>调度员</span></p>
  </td>
 </tr>
 <tr>
  <td width=189 valign=top style='width:142.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>7</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>给门控授权</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>调度员</span></p>
  </td>
 </tr>
 <tr>
  <td width=189 valign=top style='width:142.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span
   lang=EN-US style='font-size:12.0pt;font-family:宋体'>8A</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>确认销点</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>驻站员</span></p>
  </td>
 </tr>
 <tr>
  <td width=189 valign=top style='width:142.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>8B</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>确认销点</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>调度员</span></p>
  </td>
 </tr>
 <tr>
  <td width=189 valign=top style='width:142.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>9</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>计划结束</span></p>
  </td>
  <td width=189 valign=top style='width:142.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>系统</span></p>
  </td>
 </tr>
</table>
<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>其中调度需要执行的操作为：</span></p>

<table class=MsoNormalTable border=0 cellpadding=0 width=843 style='width:632.25pt'>
 <tr>
  <td width=66 valign=top style='width:49.5pt;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal align=left style='text-align:left;word-break:break-all'><span
  style='font-size:12.0pt;font-family:宋体'>操作序号</span></p>
  </td>
  <td width=201 valign=top style='width:150.75pt;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>流程操作</span></p>
  </td>
  <td width=373 valign=top style='width:279.75pt;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>页面操作</span></p>
  </td>
 </tr>
 <tr>
  <td width=66 valign=top style='width:49.5pt;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>2</span></p>
  </td>
  <td width=201 valign=top style='width:150.75pt;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>导入计划后批量下发</span></p>
  </td>
  <td width=373 valign=top style='width:279.75pt;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>【下发】</span></p>
  </td>
 </tr>
 <tr>
  <td width=66 valign=top style='width:49.5pt;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>5</span></p>
  </td>
  <td width=201 valign=top style='width:150.75pt;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>分配工务命令号后批量下发</span></p>
  </td>
  <td width=373 valign=top style='width:279.75pt;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>【下发】</span></p>
  </td>
 </tr>
 <tr>
  <td width=66 valign=top style='width:49.5pt;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>6B</span></p>
  </td>
  <td width=201 valign=top style='width:150.75pt;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>通知作业负责人</span></p>
  </td>
  <td width=373 valign=top style='width:279.75pt;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>【办理】</span></p>
  </td>
 </tr>
 <tr>
  <td width=66 valign=top style='width:49.5pt;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>7</span></p>
  </td>
  <td width=201 valign=top style='width:150.75pt;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>给门禁下发白名单（授权）</span></p>
  </td>
  <td width=373 valign=top style='width:279.75pt;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>【授权】</span></p>
  </td>
 </tr>
 <tr>
  <td width=66 valign=top style='width:49.5pt;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>8B</span></p>
  </td>
  <td width=201 valign=top style='width:150.75pt;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>确认销点</span></p>
  </td>
  <td width=373 valign=top style='width:279.75pt;padding:.75pt .75pt .75pt .75pt'>
  <p class=MsoNormal align=left style='text-align:left'><span style='font-size:
  12.0pt;font-family:宋体'>【办理】</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>查询功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>支持下拉单选择<span lang=EN-US>&lt;</span>门禁名称<span
lang=EN-US>&gt;+&lt;</span>持卡人<span lang=EN-US>&gt;+&lt;</span>状态<span
lang=EN-US>&gt;</span>，任意组合查询条件，点击【查询】后，系统为您检索出在您的权限范围内，并且符合您选择（输入）的查询条件的计划数据，页面下方显示当前页及当前页数据，数据和等数据信息，其中点击下方分页控件可进行翻页操作；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>点击【重置】后，清空查询取所选择（输入）的查询条件，显示所有在您的权限范围内的计划数据；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>刷新功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>点击【刷新】后，系统为您检索出在您的权限范围内，并且符合当前查询条件的最新计划执行数据；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>下发功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>点击【下发】后，弹出所有待下发计划页面，选择要下发的计划后，点击确认后，即可完成对所选计划的下发；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>授权功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>点击【授权】后，弹出所有待授权（下发白名单）的数据，选择要授权的计划后，点击确认，即可完成对所选计划的授权；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>办理功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>系统半分钟为您更新计划数据，建议您每次进行操作前，刷新下最新计划数据，以获取计划最新的执行情况，点击【办理】后，进行输入工务命令号，确认已通知作业负责人，销号等操作；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>远程开门功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>点击【远程开门】后，输入授权密码，选择要开的门禁名称，点击确定，即可完成对所选门禁的远程开门功能；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp; </span></p>

<p class=MsoNormal align=left style='text-align:left'><a name="_Toc419366503"><b><span
style='font-size:13.5pt;font-family:宋体'>门禁管理</span></b></a></p>

<div class=MsoNormal align=center style='text-align:center'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>

<hr size=2 width="100%" align=center>

</span></div>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>点击【门禁管理】后，左侧导航将显示其对应的二级菜单，若以超级管理员角色登陆，菜单显示【门禁记录查询】【报警记录查询】【历史授权查询】【门禁状态查询】：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>下面分别对【门禁记录查询】【报警记录查询】【历史授权查询】【门禁状态查询】页面功能进行说明：</span></p>

<p class=MsoNormal align=left style='text-align:left'><a name="_Toc419366504"><b><span
style='font-size:12.0pt;font-family:宋体'>门禁记录查询</span></b></a></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>查询功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>支持下拉单选择<span lang=EN-US>&lt;</span>门禁名称<span
lang=EN-US>&gt;</span>，点击【查询】后，系统为您检索出在您的权限范围内，并且符合您选择（输入）的查询条件的门禁记录数据，页面下方显示当前页及当前页数据，数据和等数据信息，其中点击下方分页控件可进行翻页操作；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>点击【重置】后，清空查询取所选择（输入）的查询条件，显示所有在您的权限范围内的门禁记录数据；</span></p>

<p class=MsoNormal align=left style='text-align:left'><a name="_Toc419366505"><b><span
style='font-size:12.0pt;font-family:宋体'>报警记录查询</span></b></a></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>查询功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>支持下拉单选择<span lang=EN-US>&lt;</span>门禁名称<span
lang=EN-US>&gt;</span>，点击【查询】后，系统为您检索出在您的权限范围内，并且符合您选择（输入）的查询条件的报警记录数据，页面下方显示当前页及当前页数据，数据和等数据信息，其中点击下方分页控件可进行翻页操作；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>点击【重置】后，清空查询取所选择（输入）的查询条件，显示所有在您的权限范围内的报警记录数据；</span></p>

<p class=MsoNormal align=left style='text-align:left'><a name="_Toc419366506"><b><span
style='font-size:12.0pt;font-family:宋体'>历史授权查询</span></b></a></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>查询功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>支持下拉单选择<span lang=EN-US>&lt;</span>门禁名称<span
lang=EN-US>&gt;&lt;</span>授权时间<span lang=EN-US>&gt;&lt;</span>持卡人<span
lang=EN-US>&gt;&lt;</span>状态<span lang=EN-US>&gt;</span>，点击【查询】后，系统为您检索出在您的权限范围内，并且符合您选择（输入）的查询条件的历史授权数据，页面下方显示当前页及当前页数据，数据和等数据信息，其中点击下方分页控件可进行翻页操作；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>点击【重置】后，清空查询取所选择（输入）的查询条件，显示所有在您的权限范围内的历史授权数据；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>注：历史授权数据指所有已经完成的，被废弃的计划；</span></p>

<p class=MsoNormal align=left style='text-align:left'><a name="_Toc419366507"><b><span
style='font-size:12.0pt;font-family:宋体'>门禁状态查询</span></b></a></p>

<p class=MsoNormal align=left style='text-align:left'><span style='font-size:
12.0pt;font-family:宋体'>查询功能：</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>支持下拉单选择<span lang=EN-US>&lt;</span>门禁名称<span
lang=EN-US>&gt;</span>，点击【查询】后，系统为您检索出在您的权限范围内，并且符合您选择（输入）的查询条件的门禁状态数据，页面下方显示当前页及当前页数据，数据和等数据信息，其中点击下方分页控件可进行翻页操作；</span></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;font-family:宋体'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:12.0pt;font-family:宋体'>点击【重置】后，清空查询取所选择（输入）的查询条件，显示所有在您的权限范围内的门禁状态数据；</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p><span lang=EN-US>&nbsp;</span></p>

</div>

</body>

</html>
