body{font-size:12px; font-family:Verdana,宋体,Tahoma;padding:0px; margin:0px; background-color:#D2E0F2}
.amap-marker-label{border:0;background:transparent;}
a{color:Black; text-decoration:none;}
a:hover{ color:Red; text-decoration:underline;}

.z-body{background:#FFFFFF;height:100%;border:none;overflow:hidden;padding:2px;}
.z-txt {margin:0px;padding:0 3px; width:122px;line-height: 20px;height: 20px;border: 1px solid #A4BED4;background:white;font-size: 12px;display: inline-block;}
.z-txt-on {border:#CC9933 1px solid; background:#FFFFCC;}
.z-text {color: #000100;height: 16px;line-height: 16px;padding:3px 2px;border: 1px solid #9296ac;background: url("/Content/images/form/userInputBg.jpg") repeat-x left top;margin:2px 0;}
.z-check {background:url(../images/form/checkbox1.png) no-repeat;height:12px;padding-left: 12px; display: inline-block;}
.z-check-on{background:url(../images/form/checkbox1.png) no-repeat 0 -12px; height:13px;padding-left: 12px; display: inline-block;}
.z-radio {padding-left: 22px; display: inline-block;background: transparent url(../images/form/radio.png) no-repeat left top;height: 19px; line-height:20px;cursor:pointer;vertical-align:middle;}
.z-radio-on { background-position: left bottom;}
.z-toolbar { padding-left:3px;border:1px solid #8DB2E3; margin: 0 0 3px 0; background-color:#E0ECFF;height:30px;line-height:30px;}
.z-toolbar a { float: left;}
.z-toolbar-dialog
{
    text-align:center;
    padding:3px;
    border-top:1px solid #8DB2E3; 
    background-color:#E0ECFF;
    height:26px;
}
.z-selectbar { border:1px solid #8DB2E3; padding: 0 10px;margin: 0 0 3px 0;width:100%;height:34px;}

fieldset {
    border: 1px solid #8db2e3;
    /*padding: 2px;
    margin: 5px;*/
    padding: 0 10px;
    margin: 0 0 3px 0;
}

legend {
    font-size: 12px;
    
}

.readonly {background-color: #f6f6f6}
.hide {display: none}

.lookup .combo-arrow{background:url('../images/lookup.gif') no-repeat center center;}
.lookup .combo-arrow-hover{background-color:#E0ECFF;margin:1px;border: 1px solid #A4BED4;width:14px; height:16px !important;}

/*.footer{text-align:center;color:#15428B; margin:0px; padding:0px;line-height:23px; font-weight:bold;}*/
.head a{color:White;text-decoration:underline;}

.grid{ width:100%;border-top:1px solid #dbe2e6; border-left:1px solid #dbe2e6;border-collapse:collapse;background-color:#fff;}
.grid *{ font-family:arial, "宋体" }
.grid * img{ vertical-align:middle;}
.grid th, .grid td{ border-bottom:1px solid #dbe2e6; border-right:1px solid #dbe2e6; padding:4px; font-size:12px; }
.grid th{ text-align:center;	font-size:12px;	font-weight:bold;	background:url(../images/grid_head.gif) center repeat-x;}
.grid td{ text-align:center;}
.grid caption{ line-height:24px; padding:3px; font-size:18px; font-weight:bold;}
.grid tfoot td{ background:url(../images/grid_foot.gif) bottom repeat-x #fff; color:#424c52; height:22px;text-align:left; vertical-align:middle;}
.grid tfoot td .rightpart{ float:right; height:22px; display:inline-block;}
.grid tfoot td .leftpart{float:left; height:22px; display:inline-block;}
.grid tfoot td input{ vertical-align:middle;}
.grid tfoot td img{ vertical-align:middle; margin-right:3px;}
.grid tbody td{ color:#373737;}
.grid tbody a{ color:#1871bd; text-decoration:none;}
.grid tbody a:hover{ color:#000; text-decoration:underline;}
.grid tr:hover{ background-color:#d7ecf5}

    .form-textbox,.form-textarea,.form-dropdown,.form-radio-other-input,.form-captcha input,.form-list
	    {
	    -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    border-radius: 5px;
	    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset, 0 1px 0
		    rgba(255, 255, 255, 0.75);
	    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset, 0 1px 0
		    rgba(255, 255, 255, 0.75);
	    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset, 0 1px 0
		    rgba(255, 255, 255, 0.75);
	    background-color: #FFFFFF;
	    border: 1px solid #999;
	    padding: 3px 6px;
    } 

    

.nrgl_down_tab{ width:100%; border-collapse:collapse;border-spacing:0; text-align:center; margin-bottom:10px;}
.nrgl_down_tab th{height:30px;border:1px solid #95B8E7; text-align:center; font-weight:600; line-height:25px;}
.nrgl_down_tab td{height:30px;border:1px solid #95B8E7; text-align:left;line-height:25px;padding-left:5px; font-weight:normal; }
.nrgl_down_tab td a{color:#007890; text-decoration:underline;cursor:pointer;}
.nrgl_down_tab td a:hover{color:#d61b1b; text-decoration:none;}

.infowindow_tab {
    border-collapse:collapse;
}
    .infowindow_tab th {
    border:1px solid #95B8E7;
    height:20px;
    }
    .infowindow_tab td {
    border:1px solid #95B8E7;
    height:20px;
    padding-left:5px;
    }

