@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<1>.引用Jquery的Js文件-->
    <script src="~/jquery-easyui-1.4/jquery.min.js" type="text/javascript"></script>
    <!--<2>.引用Easy UI的Js文件-->
    <script src="~/jquery-easyui-1.4/jquery.easyui.min.js" type="text/javascript"></script>
    <!--<3>.导入Easy UI的主题Css文件-->
    <link href="~/jquery-easyui-1.4/themes/default/easyui.css" rel="stylesheet" type="text/css"
        id="swicthstyle" />
    <!--<4>.导入Easy UI的图标Css文件-->
    <link href="~/jquery-easyui-1.4/themes/icon.css" rel="stylesheet" type="text/css" />
    <!--<5>.引用Easy UI的国际化文件         以下为让它显示中文-->
    <script src="~/jquery-easyui-1.4/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
    <!--<6>.页面上加上UTF-8编码       防止jquery.easyui.min.js  内容乱码-->
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link href="~/Content/Css/icon/icon.css" rel="stylesheet" />
    <style>
        .l-btn-icon {
            height: 48px;
            line-height: 48px;
            width: 48px;
            margin-top: 0px;
            top: 0%;
        }

        .l-btn-icon-left .l-btn-text {
            margin: 0 44px 0 64px;
        }
        /*滚动广告样式*/
        .ad {
            overflow: hidden;
            position: relative;
            height: 300px;
            border-radius: 5px;
            margin-top:10px;
        }

        .slider, .num {
            position: absolute;
        }

            .slider li {
                list-style: none;
                display: inline;
            }

            .slider img {
                width: 1100px;
                height: 300px;
                display: block;
            }

        .num {
            right: 60px;
            bottom: 5px;
        }

            .num li {
                float: left;
                color: #FF7300;
                text-align: center;
                line-height: 16px;
                width: 16px;
                height: 16px;
                font-family: Arial;
                font-size: 12px;
                cursor: pointer;
                overflow: hidden;
                margin: 3px 1px;
                border: 1px solid #FF7300;
                background-color: #fff;
            }

                .num li.on {
                    color: #fff;
                    line-height: 21px;
                    width: 21px;
                    height: 21px;
                    font-size: 16px;
                    margin: 0 1px;
                    border: 0;
                    background-color: #FF7300;
                    font-weight: bold;
                }
    </style>
    <script type="text/javascript">
        $(function () {
            document.oncontextmenu = function (e) {
                return false; // 主页面不允许右键（兼容多浏览器）
            }
            var len = $(".num > li").length;
            var index = 0;
            var adTimer;
            $(".num li").mouseover(function () {
                index = $(".num li").index(this);
                showImg(index);
            }).eq(0).mouseover();
            //滑入 停止动画，滑出开始动画.  
            $('.ad').hover(function () {
                clearInterval(adTimer);
            }, function () {
                adTimer = setInterval(function () {
                    showImg(index)
                    index++;
                    if (index == len) { index = 0; }
                }, 3000);
            }).trigger("mouseleave");
        });

        // 通过控制top ，来显示不同的幻灯片  
        function showImg(index) {
            var adHeight = $(".ad").height() + 15;
            $(".slider").stop(true, false).animate({ top: -adHeight * index }, 1000);   //翻滚效果  
            $(".num li").removeClass("on")
                .eq(index).addClass("on");
        }

        function DtsxzyjkLogin() {
            window.location.href = '/Home/jzcld_LoginDtsxzyjk';
        }

        function SgjyyjzhLogin() {
            window.location.href = '/Home/jzcld_LoginSgjyyjzh';
        }
    </script>

    <title>@ViewBag.title</title>
</head>

<body style="background: url(/Content/images/jzcld_big_back.png) repeat-x scroll 0 0;">
    <div style="margin-left: 200px; margin-right: 200px; margin-top: 100px; margin-bottom: 100px; background-color: #fff; border-radius: 10px; box-shadow: 0 0 3px #c8b8b8;">
        <div>
            <div style="background: url(/Content/images/jzcldTitle.png); height: 92px; width: 250px; margin-left: 30px;"></div>
            <div style="background: url(/Content/images/brushed.png); height: 2px; margin-left: 100px; margin-right: 100px; border-radius: 2px;"></div>
        </div>
        <div class="ad">
            <ul class="slider">
                <li>
                    <img src="/Content/images/jzcldad11.jpg" alt="ad1" /></li>
                <li>
                    <img src="/Content/images/jzcldad22.jpg" alt="ad2" /></li>
                <li>
                    <img src="/Content/images/jzcldad33.jpg" alt="ad3" /></li>
            </ul>
            <ul class="num">
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
        <div style="min-height: 150px; background-color: #fff;">
            <table style="width: 100%;">
                <tr> 
                    <td style="width: 40%;">
                        <img src="~/Content/images/jzcldlogo.jpg" style="margin-left:30%;"/>
                    </td>
                    <td >
                        <div style="margin-left: 100px; margin-top: 18px;">
                            <a class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-dtsx'" onclick="DtsxzyjkLogin()" style="width: 565px; text-align: left;">欢迎使用</br>动态上线施工作业管控系统</a>
                            </br></br>
                            <a class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-sgjx'" onclick="SgjyyjzhLogin()" style="width: 565px; text-align: left;">欢迎使用</br>事故救援应急指挥系统</a>
                        </div>
                    </td>
                   
                </tr>
            </table>
        </div>
        <div style="background: url(/Content/images/brushed.png); height: 10px;"></div>
        <div style="font-size: small; color: #6f6767;">
            <span style="margin-left: 20px;">Copyright &copy; 山西世恒铁路技术有限公司 All Rights Reserved</span>
        </div>
    </div>
</body>
</html>
