<div>
    <div style="float:left">
        <p>动态问题</p>
        <ul id="tt" class="easyui-tree">   
            <li>   
                <span>轨检车</span>   
                <ul> 
                    <li>   
                        <span><a href="#">Ⅰ级</a></span>   
                    </li>   
                    <li>   
                        <span>Ⅱ级</span>   
                    </li>   
                    <li>   
                        <span>Ⅲ级</span>   
                    </li> 
                    <li>   
                        <span>Ⅳ级</span>   
                    </li>
                </ul>   
            </li>   
            <li>   
                <span>车载</span>  
                <ul> 
                    <li>   
                        <span><a href="#">Ⅰ级</a></span>   
                    </li>   
                    <li>   
                        <span>Ⅱ级</span>   
                    </li>   
                    <li>   
                        <span>Ⅲ级</span>   
                    </li> 
                    <li>   
                        <span>Ⅳ级</span>   
                    </li>
                </ul>    
            </li>    
            <li>   
                <span>便携</span>  
                <ul> 
                    <li>   
                        <span><a href="#">Ⅰ级</a></span>   
                    </li>   
                    <li>   
                        <span>Ⅱ级</span>   
                    </li>   
                    <li>   
                        <span>Ⅲ级</span>   
                    </li> 
                    <li>   
                        <span>Ⅳ级</span>   
                    </li>
                </ul>    
            </li>  
            <li>   
                <span>人工添乘</span>  
                <ul> 
                    <li>   
                        <span><a href="#">一般晃车</a></span>   
                    </li>   
                    <li>   
                        <span>明显晃车</span>   
                    </li>   
                    <li>   
                        <span>严重晃车</span>   
                    </li> 
                    <li>   
                        <span>线路问题</span>   
                    </li>
                    <li>
                        <span>桥隧问题</span>
                    </li>
                </ul>    
            </li>   
            <li>   
                <span>TQI</span>  
                <ul> 
                    <li>   
                        <span><a href="#">TQIⅠ级</a></span>   
                    </li>   
                    <li>   
                        <span>TQIⅡ级</span>   
                    </li>   
                    <li>   
                        <span>TQIⅢ级</span>   
                    </li> 
                    <li>   
                        <span>TQIⅣ级</span>   
                    </li>
                </ul>    
            </li>         
        </ul>  
    </div>
    
    <div>
        <p>静态问题</p>
        <ul id="ttt" class="easyui-tree">   
            <li>   
                <span>轨检仪</span>   
                <ul> 
                    <li>   
                        <span><a href="#">作业验收</a></span>   
                    </li>   
                    <li>   
                        <span>经常保养</span>   
                    </li>   
                    <li>   
                        <span>临时补修</span>   
                    </li> 
                </ul>   
            </li>   
            <li>   
                <span>电子道尺</span>  
                <ul> 
                    <li>   
                        <span><a href="#">作业验收</a></span>   
                    </li>   
                    <li>   
                        <span>经常保养</span>   
                    </li>   
                    <li>   
                        <span>临时补修</span>   
                    </li> 
                </ul>    
            </li>    
            <li>   
                <span>人工检查</span>  
                <ul>
                    <li>   
                        <span><a href="#">作业验收</a></span>   
                    </li>   
                    <li>   
                        <span>经常保养</span>   
                    </li>   
                    <li>   
                        <span>临时补修</span>   
                    </li> 
                </ul>    
            </li>      
        </ul>  
    </div>

</div>